doctype html
html
  head
    title World Blockchain Development Fund

    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', rel='stylesheet', crossorigin='anonymous')
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp', rel='stylesheet', crossorigin='anonymous')
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js', rel='stylesheet', crossorigin='anonymous')
    script(type='text/javascript', src='http://www.bing.com/api/maps/mapcontrol?callback=GetMap', async, defer)
    script(type='text/javascript')
      include bing-map.js

    script.
      function changeMap(coordinates) {
        var frame = document.getElementById("map");
        frame.src = coordinates;
      }

  body
    div(class="container-fluid")
      div(class="row")
        div(class="col-md-8")
          h1 Welcome - let's make the world a better place

      div(class="row")
        div(class="col-md-12")
          div(id="myMap" style="position:relative;width:100vw;height:70vh")

      div(class="row")
        div(class="col-md-8")
          h2 Village list
            span(class="badge") !{villages.length}

      div(class="row")
        div(class="col-md-4")
          table(class='table table-striped table-hoover')
            thead
              tr
                th= 'Name'
                th= 'Location'
            tbody
            for village in villages
              tr(style='cursor: pointer', onclick=`changeMap("${village.mapUrl}")`)
                td= village.name
                td= village.location

        div(class="col-md-4")
          iframe(id='map', width='500', height='400', frameborder='0', scrolling='no', src='')
