doctype html
html
  head
    title Manager Approvals
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', rel='stylesheet', crossorigin='anonymous')
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css', rel='stylesheet', crossorigin='anonymous')

  body
    if msg
      div(class=`alert alert-${type} alert-dismissible` role="alert")
        button(type="button" class="close" data-dismiss="alert" aria-label="Close")
          span(aria-hidden="true") &times;
        span #{msg}

    div(class="container-fluid")
      div(class="row")
        div(class="col-md-8")
          h1 ODS API mock

      div(class="row")
        div(class="col-md-8")
          h2 Manager Approvals
            span(class="badge") !{managerApprovals.length}

      div(class="row")
        div(class="col-md-12")
          table(class='table table-striped table-hoover')
            thead
              tr
                th= 'Status'
                th= 'Plan Id'
                th= 'Owner'
                th= 'Policyholder'
                th= 'Insured'
                th= 'Review URL'
                th(class='text-center') Manager Action
            tbody
            for ma in managerApprovals
              tr
                td= ma.status
                td= ma.planId
                td= ma.ownedBy
                td= ma.policyHolder
                td= ma.insured
                td
                  a(href=ma.reviewUrl) #{ma.reviewUrl}
                td
                  div(class='text-center')
                    if ma.status == 'rejected'
                      h4
                        span(class='label label-danger') Rejected. Please re-submit
                    else if ma.status == 'registered'
                      a(role='button' class="btn btn-info" href=`/odsapi/${env}/ma/next?action=notRequired&planId=${ma.planId}&type=info`) Not Required
                      br
                      a(role='button' class="btn btn-warning" href=`/odsapi/${env}/ma/next?action=pending&planId=${ma.planId}&type=warning`) Pending
                    else
                      a(role='button' class="btn btn-success" href=`/odsapi/${env}/ma/next?action=approved&planId=${ma.planId}&type=success`) Approved
                      br
                      a(role='button' class="btn btn-danger" href=`/odsapi/${env}/ma/next?action=rejected&planId=${ma.planId}&type=danger`) Rejected

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js', crossorigin='anonymous')
