doctype html
html
  head
    title Plans
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', rel='stylesheet', crossorigin='anonymous')
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css', rel='stylesheet', crossorigin='anonymous')

  body

    div(class="container-fluid")
      div(class="row")
        div(class="col-md-8")
          h1 ODS API mock

      div(class="row")
        div(class="col-md-8")
          h2 Plans
            span(class="badge") !{plans.length}

      div(class="row")
        div(class="col-md-12")
          table(class='table table-striped table-hoover')
            thead
              tr
                th= 'Status'
                th= 'Plan Id'
                th= 'Owner'
                th= 'Policyholder'
                th= 'Insured'
                th= 'Review URL'
                th= 'App Review URL'
                th= 'Edit URL'
                th= 'Action'
            tbody
            for plan in plans
              tr
                td= plan.status
                td= plan._id
                td= plan.ownedBy
                td= plan.policyHolder
                td= plan.insured
                td
                  a(href=plan.baseUrl + plan.planReview) #{plan.baseUrl + plan.planReview}
                td
                  if plan.appReview
                    a(href=plan.baseUrl + plan.appReview) #{plan.baseUrl + plan.appReview}
                td
                  a(href=plan.baseUrl + plan.edit) #{plan.baseUrl + plan.edit}
                td
                  div(class='text-center')
                    if plan.status == 'Application Submitted'
                      a(role='button' class="btn btn-info" href=`/odsapi/${env}/application/complete?planId=${plan._id}`) Complete


  <!-- jQuery (necessary for Bootstraps JavaScript plugins) -->
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js', crossorigin='anonymous')
