doctype html
html
  head
    title World Blockchain Development Fund
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', rel='stylesheet', crossorigin='anonymous')
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp', rel='stylesheet', crossorigin='anonymous')
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js', rel='stylesheet', crossorigin='anonymous')

  body
    div(class="container-fluid")
      div(class="row")
        div(class="col-md-8")
          h1 Village Info

      div(class="row")
        div(class="col-md-8")
          h2 =village

      div(class="row")
        div(class="col-md-12")
          table(class='table table-striped table-hoover')
            thead
              tr
                th= 'Firstname'
                th= 'Lastname'
                th= 'Nano Received'
                th= 'Nano Address'
            tbody
            for villager in villagers
              tr
                td= villager.firstName
                td= villager.lastName
                td= villager.nanoAddress
                td= villager.nanoReceived
